<form action="/students/<%= @student.id %>" method="POST">
  <div>
    <label>Name: </label>
    <input type="text" name="name" placeholder="Enter a Student Name" value="<%= @student.name %>">
  </div>

  <div>
    <label>Gender: </label>
    <input type="text" name="gender" placeholder="Enter a Student Gender" value="<%= @student.gender %>">
  </div>

  <div>
    <label>Age: </label>
    <input type="text" name="age" placeholder="Enter a Student Age" value="<%= @student.age %>">
  </div>

  <div>
    <label>Best Subject: </label>
    <input type="text" name="best_subject" placeholder="Enter the Student's Best Subject" value="<%= @student.best_subject %>">
  </div>

  <div>
    <label>Year: </label>
    <input type="text" name="year" placeholder="Enter the Student Class Year" value="<%= @student.year %>">
  </div>

  <div>
    <input type="submit" value="Save Student Details">
  </div>

  <% if(@student.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>