<h1> Name: <%= @student.name %></h1>
<p>Gender: <%= @student.gender %></p>
<p>Age: <%= @student.age %></p>
<p>Best Subject: <%= @student.best_subject %></p>
<p>Year: <%= @student.year %></p>

<!-- Link to edit students details -->
<a href="/students/<%= @student.id %>/edit">Edit Student Details</a>

<!-- Button to delete student information -->
<form action="/students/<%= @student.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Student Details">
</form> 
